version: '3.4'

volumes:
  influxdb: ~
  chronograf: ~
  kapacitor: ~
  grafana: ~
  logs: ~

networks:
  monitoring:
    driver: bridge
  web:
    driver: bridge

services:
  grafana:
    image: grafana/grafana
    restart: on-failure
    volumes:
      - grafana:/data/grafana
    ports:
      - 3000:3000
    networks:
      - monitoring

  influxdb:
    image: influxdb:1.5-alpine
    volumes:
      - influxdb:/var/lib/influxdb
    networks:
      - monitoring
    restart: on-failure

  kapacitor:
    image: kapacitor:1.5-alpine
    volumes:
      - kapacitor:/var/lib/kapacitor
      - ./conf/kapacitor/kapacitor.conf:/etc/kapacitor/kapacitor.conf:ro
      - ./conf/kapacitor/ticks:/etc/kapacitor/ticks:ro
    environment:
      - KAPACITOR_INFLUXDB_0_URLS_0=http://influxdb:8086
    networks:
      - monitoring

  telegraf:
    image: telegraf:1.6-alpine
    volumes:
      - ./conf/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - logs:/var/log
    ports:
      - 8125:8125/udp
    networks:
      - monitoring
    restart: on-failure

  lb:
    image: nginx:mainline-alpine
    networks:
      - web
    volumes:
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
      - logs:/var/log
    ports:
      - 8080:8080

  backend:
    image: golang:1.10-alpine
    networks:
      - web
      - monitoring
    volumes:
      - ./backend:/go/src/app
    ports:
      - 8081:8080
    command:
      - go
      - run
      - /go/src/app/main.go
