version: '3.4'

volumes:
  influxdb: ~
  chronograf: ~
  grafana: ~
  logs: ~

networks:
  dev:
    driver: bridge

services:
  grafana:
    image: grafana/grafana
    restart: on-failure
    volumes:
      - grafana:/data/grafana
    ports:
      - 3000:3000
    networks:
      - dev

  chronograf:
    image: chronograf:1.3-alpine
    volumes:
      - chronograf:/var/lib/chronograf
    networks:
      - dev
    restart: on-failure
    ports:
      - 8888:8888
    command:
      - 'chronograf'
      - '--influxdb-url=http://influxdb:8086'

  influxdb:
    image: influxdb:1.4-alpine
    volumes:
      - influxdb:/var/lib/influxdb
    networks:
      - dev
    restart: on-failure

  telegraf:
    image: telegraf:1.4-alpine
    volumes:
      - ./conf/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - logs:/var/log
    ports:
      - 8125:8125/udp
    networks:
      - dev
    restart: on-failure

  app:
    image: nginx:mainline-alpine
    volumes:
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
      - logs:/var/log
    ports:
      - 8080:8080
